/* .App {
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: #f5f5f5;
} */


* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  min-height: 80vh;
  width: 100%;
  display: flex;
}
.__main{
  flex-grow: 1;
  background-color: #f5f5f5;
  display: flex;
}
.App__sidebar {
  border-right: 1px solid #dfdfdf;
  width: 30%;
  min-width: 300px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ebebeb;
}
@media screen and (max-width: 925px) {
  .App__sidebar.hidden {
    display: none;
  }
  .App__sidebar.width {
    width: 100%;
  }
}